:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  outline: 1px solid black;
  max-width: 85%;
}

.card-img {
  /* outline: 1px solid red; */
  padding: 1rem;
  background: url("./images/pattern-bg.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-div {
  /* outline: 1px solid black; */
  margin: 1.5rem;
  position: relative;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
}

.img-div img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
}

.btn-div {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: -10px 20px 20px 0px rgba(0, 0, 0, 0.1);
}

.icon {
  cursor: pointer;
  width: 100%;
  padding: 0.8rem 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: background-color 0.5s;
}

.icon:hover {
  background-color: rgb(194, 194, 194);
}

.icon img {
  width: 8px;
  display: block;
}
